.container-fluid
    .row
        .col-md-8.offset-md-2
            .table-responsive-md.pt-5
                %table.table.table-striped.table-hover#events
                    %caption Table of Representatives
                    %thead.thead-dark
                        %tr
                            %th Name
                            %th Office
                            %th Party
                            %th News
                            %th Profile
                            %th Tag
                    %tbody
                        - @representatives.each_with_index do |rep, _index|
                            %tr
                                %td= rep.name
                                %td= rep.title
                                %td= rep.political_party
                                %td
                                    = link_to representative_news_items_path(rep.id), class: 'btn btn-primary' do
                                        %i.fas.fa-newspaper
                                        News Articles
                                %td 
                                    = link_to representative_path(rep.id), class: 'btn btn-info ml-2' do
                                        %i.fas.fa-info-circle
                                        Profile Page
                                %td
                                    = form_tag representative_path, method: :get do
                                      = hidden_field_tag :representative_id, @representative.id
                                      = submit_tag 'View Profile', class: 'btn btn-info ml-2'

                                
